<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title class="custom-title">Daftar Menjadi Pengajar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="riwayatpendidikan">Riwayat Pendidikan</p>
  <ion-input class="formgelarakademis"label="Gelar Akademis" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input><br>
  <ion-input class="formgelarakademis"label="Sekolah atau Universitas" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input><br>
  <ion-input class="formgelarakademis"label="Jurusan" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input><br>
  <ion-input class="formgelarakademis"label="Tahun Lulus" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input><br>
  <ion-button class="tombol" size="small">Tambah</ion-button><br><br>
  <p class="pengalaman">Pengalaman</p>
  <ion-textarea class="formpengalaman"label="Gelar Akademis" label-placement="floating" fill="outline" placeholder="Enter text" size="big"></ion-textarea><br>
  <ion-button class="tombol" size="small">Tambah</ion-button><br><br><br>
  <ion-button class="kembali" fill="outline">Kembali</ion-button>
  <ion-button class="lanjut" type="submit" >Lanjut</ion-button>
 
</ion-content>
