<ion-header>
  <ion-toolbar>
    <div class="search-container">
      <ion-buttons slot="start">
        <ion-title class="title">Riwayat</ion-title>
      </ion-buttons>
    </div>
  </ion-toolbar>
  <ion-segment [(ngModel)]="segmentValue" (ionChange)="setSegmentValue($event)">
    <ion-segment-button value="proses">
      <ion-label>Proses</ion-label>
    </ion-segment-button>
    <ion-segment-button value="selesai">
      <ion-label>Selesai</ion-label>
    </ion-segment-button>
    <ion-segment-button value="semua">
      <ion-label>Semua</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let transaction of getFilteredTransactions(segmentValue)" (click)="setOpen(true, transaction.course[0]?.course_id)">
      <ion-thumbnail slot="start">
        <img [src]="transaction.course[0]?.course_image">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ transaction.transaction_id }}</h2>
        <h2>{{ transaction.course[0]?.course_title }}</h2>
        <!-- <p>{{ transaction.course[0]?.teacher_id }}</p> -->
        <p>{{ transaction.created_at | date: 'medium' }}</p>
      </ion-label>
      <span class="bg-primary p-1 rounded" *ngIf="transaction.transaction_status !== 'PAID'" style="font-size: 12px;">Belum dibayar</span>
      <span class="bg-success p-1 rounded" *ngIf="transaction.transaction_status === 'PAID'" style="font-size: 12px;">Berhasil</span>
    </ion-item>
  </ion-list>

  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-content class="modal-content">
        <img class="mt-5" src="../../assets/img/course-management.png">
        <h2>Kursus Selesai!</h2>
        <p>Silakan tinggalkan ulasan Anda</p>
        <div class="stars">
          <ion-icon *ngFor="let star of [1, 2, 3, 4, 5]" 
                    [name]="isStarFilled(star) ? 'star' : 'star-outline'" 
                    (click)="setRating(star)">
          </ion-icon>
        </div>
        <ion-textarea placeholder="Kirim Ulasan Anda Tentang kursus ini" [(ngModel)]="comment"></ion-textarea>
        <div class="button-group">
          <ion-button [disabled]="!canSubmitReview()" (click)="submitReview()" color="tertiary">Kirim Ulasan</ion-button>
          <ion-button color="light" (click)="setOpen(false)">Batal</ion-button>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
