<ion-header>
  <ion-toolbar>
    <div class="search-container">
      <ion-buttons slot="start">
        <ion-button>
          <ion-icon class="icon" name="arrow-back-outline"></ion-icon>
        </ion-button>
        <ion-title class="title">Riwayat</ion-title>
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-buttons>
    </div>
  </ion-toolbar>
  <ion-segment value="kursus">
    <ion-segment-button value="aktivitas">
      <ion-label>Aktivitas</ion-label>
    </ion-segment-button>
    <ion-segment-button value="kursus">
      <ion-label>Kursus</ion-label>
    </ion-segment-button>
    <ion-segment-button value="pembelian">
      <ion-label>Pembelian</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="../../assets/img/BSA.png">
      </ion-thumbnail>
      <ion-label>
        <h2>Judul Kursus</h2>
        <p>Nama Pengajar</p>
        <p>
          <ion-badge color="success" class="text-menu">Aktif</ion-badge> 04-12-2024
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start" class="text-menu">
        <img src="../../assets/img/BSA.png">
      </ion-thumbnail>
      <ion-label>
        <h2>Judul Kursus</h2>
        <p>Nama Pengajar</p>
        <p>
          <ion-badge color="success" class="text-menu">Aktif</ion-badge> Aktif selamanya
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="../../assets/img/BSA.png">
      </ion-thumbnail>
      <ion-label>
        <h2>Judul Kursus</h2>
        <p>Nama Pengajar</p>
        <p>
          <ion-badge color="danger" class="danger">Tidak Aktif</ion-badge> 04-01-2024
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="../../assets/img/BSA.png">
      </ion-thumbnail>
      <ion-label>
        <h2>Judul Kursus</h2>
        <p>Nama Pengajar</p>
        <p>
          <ion-badge color="success" class="text-menu">Aktif</ion-badge> Berakhir 3 hari lagi
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
