ion-segment {
    --background: #f8f8f8;
  }
  
  ion-segment-button {
    --indicator-color: #9244ff;
  }
  
  ion-badge {
    margin-right: 5px;
  }
  
  ion-thumbnail img {
    width: 100%;
    height: auto;
  }


ion-icon {
    width: 25px;
    height: 25px;
}

.title {
  text-align: center;
}

  .text-menu {
    color: rgb(201, 255, 201);
  }

  .danger {
    color: rgb(255, 220, 220);
  }