.custom-alert {
    //   display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
      margin-left: 10%;
      margin-top: 50%;
      text-align: center;
      padding: 20px;
      background: white;
      border-radius: 20px;
    
      .icon-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    
        .icon {
          font-size: 100px;
          color: purple;
        }
      }
    
      h2 {
        font-size: 24px;
        color: purple;
        margin-bottom: 10px;
      }
    
      p {
        font-size: 18px;
        color: gray;
        margin-bottom: 20px;
      }
    
      ion-button {
        --background: purple;
        --background-activated: darkpurple;
        --color: white;
      }
    }
    