<ion-content>
  <div class="centered-contrainer">
    <div class="centered-content">
      <p>Create your account</p>
    </div>
  </div>
  <form action="">
    <div id="contrainer">
      <ion-input class="email" label="Email" label-placement="floating" placeholder="Email"><ion-icon class="ic-email" name="mail-outline"></ion-icon></ion-input>
      <br>
      <ion-input class="password" label="Password" label-placement="floating" placeholder="Password"><ion-icon class="ic-password" name="lock-open-outline"></ion-icon></ion-input>
    </div>
  </form>
</ion-content>