<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title class="custom-title">Daftar Menjadi Pengajar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="keahlianatauspesialis">Keahlian atau Spesialis</p>
  <ion-input class="formkeahlianatauspesialis"label="Bidang yang dikuasai" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input><br>
  <ion-input class="formkeahlianatauspesialis"label="Bidang yang ingin diajarkan" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input><br>
  <ion-button class="tombol" size="small">Tambah</ion-button><br><br>

  <p class="keahlianatauspesialis">Informasi Tambahan (Opsional)</p>
  <!-- <ion-item class="InformasiTambahan"><ion-label position="floating">Portofolio</ion-label><input type="file" placeholder="Enter text"></ion-item>
   -->
   <!-- <ion-item class="forminformasitambahan">
    <ion-label position="floating">Upload Portofolio anda</ion-label>
    <input type="file" id="fileInput" placeholder="Enter text" />
  </ion-item> -->

  <ion-input type="file" class="formkeahlianatauspesialis"label="Upload Portofolio" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input><br>
  <ion-input type="file" class="formkeahlianatauspesialis"label="Upload CV" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input><br>
  
  <!-- <ion-item class="forminformasitambahan">
    <ion-label position="floating">Upload CV anda</ion-label>
    <input type="file" id="fileInput" placeholder="Enter text" />
  </ion-item> -->
  
  <!-- <p class="text-danger">H</p> -->
  <!-- <ion-button class="tombol" size="small">Tambah</ion-button><br><br><br> -->
  <ion-button class="kembali" fill="outline">Kembali</ion-button>
  <ion-button class="lanjut" type="submit" >Lanjut</ion-button>
 
</ion-content>
