<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="management-course"></ion-back-button>
    </ion-buttons>
    <ion-title>Tambah Kursus</ion-title>
    <ion-button
      fill="clear"
      (click)="onCheckmarkClick()"
      [disabled]="isCheckmarkDisabled()"
      style="--ion-color-primary: #642df4"
      slot="end"
    >
      <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-input
        [(ngModel)]="formData.judulKursus"
        label="Judul Kursus"
        labelPlacement="floating"
        placeholder="Masukkan Judul Kursus"
        [counter]="true"
        maxlength="50"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-select
        [(ngModel)]="formData.tingkatan"
        label="Tingkatan"
        labelPlacement="floating"
      >
        <ion-select-option value="Pemula">Pemula</ion-select-option>
        <ion-select-option value="Menengah">Menengah</ion-select-option>
        <ion-select-option value="Ahli">Ahli</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select
        [(ngModel)]="formData.bidang"
        (ionChange)="onBidangChange()"
        label="Bidang"
        labelPlacement="floating"
      >
        <ion-select-option
          *ngFor="let bidang of bidangOptions"
          [value]="bidang.category_name"
          >{{ bidang.category_name }}</ion-select-option
        >
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select
        [(ngModel)]="formData.subBidang"
        label="Sub Bidang"
        labelPlacement="floating"
      >
        <ion-select-option
          *ngFor="let sub of subBidangOptions"
          [value]="sub.sub_category_name"
          >{{ sub.sub_category_name }}</ion-select-option
        >
      </ion-select>
    </ion-item>
    <label for="banner" style="margin-left: 30px">Banner Kursus</label>
    <ion-item>
      <input
        label="Masukkan Banner"
        type="file"
        (change)="handleFileInput($event, 'bannerKursus')"
        placeholder="Masukkan Banner Kursus"
        accept="image/*"
      />
    </ion-item>
    <ion-item>
      <ion-textarea
        [(ngModel)]="formData.deskripsi"
        label="Deskripsi"
        labelPlacement="floating"
        placeholder="Masukkan Deskripsi"
        [counter]="true"
        maxlength="100"
      ></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-radio-group [(ngModel)]="formData.jenisHarga" value="berbayar">
      <ion-list-header>
        <ion-label>Pilih Jenis Harga</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-radio slot="start" value="free" labelPlacement="end"
          >Free</ion-radio
        >
      </ion-item>
      <ion-item>
        <ion-radio
          slot="start"
          value="berbayar"
          labelPlacement="end"
          checked="true"
          >Berbayar</ion-radio
        >
      </ion-item>
    </ion-radio-group>

    <ion-item *ngIf="formData.jenisHarga === 'berbayar'">
      <ion-label position="floating">Masukkan Harga Kursus</ion-label>
      <ion-input [(ngModel)]="formData.hargaKursus" type="number"></ion-input>
      <ion-label position="floating"
        >Masukkan Harga Dicoret (Opsional)</ion-label
      >
      <ion-input [(ngModel)]="formData.hargaDiskon" type="number"></ion-input>
      <ion-item
        *ngIf="formData.jenisHarga === 'berbayar' && formData.hargaDiskon && formData.hargaDiskon < formData.hargaKursus"
      >
        <span class="text-danger"
          >Harga dicoret harus lebih besar dari harga</span
        >
      </ion-item>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-radio-group [(ngModel)]="formData.jenisLangganan">
      <ion-list-header>
        <ion-label>Pilih Jenis Langganan</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-radio slot="start" value="unlimited" labelPlacement="end"
          >Unlimited</ion-radio
        >
      </ion-item>
      <ion-item>
        <ion-radio slot="start" value="limited" labelPlacement="end"
          >Limited</ion-radio
        >
      </ion-item>
    </ion-radio-group>

    <ion-item *ngIf="formData.jenisLangganan === 'limited'">
      <ion-label position="floating">Masukkan Jumlah Bulan</ion-label>
      <ion-input [(ngModel)]="formData.jumlahBulan" type="number"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-label>Bab</ion-label>
      <ion-button (click)="addBab()">Tambah Bab</ion-button>
    </ion-list-header>
    <div class="d-flex" style="flex-direction: column; align-items: center">
      <div
        class="card m-2 p-2"
        style="width: 90%"
        *ngFor="let bab of formData.babList; let i = index"
      >
        <ion-item>
          <ion-input
            [(ngModel)]="bab.judul"
            label="Bab {{ i + 1 }}"
            labelPlacement="floating"
            placeholder="Masukkan Judul Bab"
            [counter]="true"
            maxlength="50"
          ></ion-input>
        </ion-item>
        <ion-item style="--background: transparent">
          <ion-button
            slot="end"
            style="margin-right: -15px"
            fill="outline"
            (click)="addSubBab(i)"
            >Tambah Sub Bab</ion-button
          >
        </ion-item>
        <div *ngIf="bab.subBabList && bab.subBabList.length > 0">
          <ion-list>
            <div
              class="card mb-2"
              *ngFor="let subBab of bab.subBabList; let j = index"
            >
              <ion-item class="mt-3">
                <ion-select
                  [(ngModel)]="subBab.jenisMateri"
                  label="Pilih tipe sub bab"
                  labelPlacement="floating"
                >
                  <ion-select-option value="Materi">Materi</ion-select-option>
                  <ion-select-option value="Quiz"
                    >Quiz</ion-select-option
                  >
                </ion-select>
              </ion-item>
              <div *ngIf="subBab.jenisMateri === 'Materi'">
                <ion-item>
                  <ion-input
                    [(ngModel)]="subBab.judul"
                    label="Sub Bab"
                    labelPlacement="floating"
                    placeholder="Masukkan Judul Sub Bab"
                    [counter]="true"
                    maxlength="50"
                  ></ion-input>
                </ion-item>
                <label for="materi" style="margin-left: 17px"
                  >Video Materi</label
                >
                <ion-item>
                  <input
                    type="file"
                    (change)="handleFileInput($event, 'materi', i, j)"
                    placeholder="Masukkan Materi Sub Bab"
                    accept="video/mp4"
                  />
                </ion-item>
                <ion-item>
                  <ion-textarea
                    [(ngModel)]="subBab.deskripsi"
                    label="Deskripsi Sub Bab"
                    labelPlacement="floating"
                    placeholder="Masukkan Deskripsi Sub Bab"
                    [counter]="true"
                    maxlength="100"
                  ></ion-textarea>
                </ion-item>
              </div>
              <div *ngIf="subBab.jenisMateri === 'Quiz'">
                <ion-item>
                  <ion-input
                    label="Judul Kuis"
                    placeholder="Masukkan Judul Kuis"
                    labelPlacement="floating"
                    [counter]="true"
                    maxlength="50"
                    [(ngModel)]="subBab.judul"
                  ></ion-input>
                </ion-item>
                <ion-item>
                  <ion-textarea
                    label="Deskripsi Kuis"
                    placeholder="Masukkan Deskripsi Kuis"
                    labelPlacement="floating"
                    [counter]="true"
                    maxlength="100"
                    [(ngModel)]="subBab.deskripsi"
                  ></ion-textarea>
                </ion-item>
                <ion-item>
                  <ion-input
                    type="number"
                    label="Durasi Pengerjaan"
                    placeholder="Masukkan Durasi Pengerjaan"
                    labelPlacement="floating"
                    [(ngModel)]="subBab.waktuKuis"
                  ></ion-input>
                </ion-item>
                <ion-item style="--background: transparent">
                  <ion-button
                    slot="end"
                    style="margin-right: -15px"
                    fill="outline"
                    (click)="addPertanyaan(i, j)"
                  >
                    Tambah Pertanyaan
                  </ion-button>
                </ion-item>                

                <div
                  *ngFor="let question of subBab.question; let k = index"
                >
                  <label for="materi" style="margin-left: 17px"
                    >Gambar Soal (opsional)</label
                  >
                  <ion-item>
                    <input type="file" placeholder="Masukkan Materi Bab" />
                  </ion-item>
                  <ion-item>
                    <ion-input type="number" label="Poin" placeholder="Masukkan Poin" labelPlacement="floating" [(ngModel)]="question.point"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-input
                      label="Pertanyaan"
                      placeholder="Masukkan Pertanyaan"
                      labelPlacement="floating"
                      [counter]="true"
                      maxlength="100"
                      [(ngModel)]="question.question"
                    ></ion-input>
                  </ion-item>
                  <ion-item *ngFor="let opsi of question.opsiList; let i=index">
                    <ion-input
                      type="text"
                      [(ngModel)]="opsi.text"
                      placeholder="Masukkan teks opsi"
                    ></ion-input>
                    
                    <ion-radio-group [(ngModel)]="question.jawabanBenar" (ionChange)="setCorrectAnswer(question, opsi)">
                      <ion-item>
                        <ion-radio
                          labelPlacement="end"
                          [value]="opsi.id"
                        ></ion-radio>
                      </ion-item>
                    </ion-radio-group>
                    
                    <ion-button
                      style="--background: transparent; margin-right: -10px;"
                      slot="end"
                      (click)="removeOpsi(question, opsi)"
                    >
                      <ion-icon name="trash" color="danger"></ion-icon>
                    </ion-button>
                  </ion-item>
                  
                  
                  <ion-item style="--background: transparent">
                    <ion-button (click)="addOpsi(i, j, k)">Tambah opsi</ion-button>
                  </ion-item>
                             
                  <ion-item>
                    <ion-textarea
                      label="Kenapa jawaban ini benar"
                      labelPlacement="floating"
                      [(ngModel)]="question.justification"
                    ></ion-textarea>
                  </ion-item>
                  <ion-item style="--background: transparent">
                    <ion-button
                      slot="end"
                      color="danger"
                      fill="outline"
                      (click)="removePertanyaan(i, k)"
                      >Hapus Pertanyaan</ion-button
                    >
                  </ion-item>
                </div>
              </div>

              <ion-item style="--background: transparent">
                <ion-button
                  color="danger"
                  fill="outline"
                  (click)="removeSubBab(i, j)"
                  >Hapus Sub Bab</ion-button
                >
              </ion-item>
            </div>
          </ion-list>
        </div>
        <ion-button
          style="margin: 10px 0 0 0"
          fill="outline"
          color="danger"
          (click)="removeBab(i)"
          >Hapus Bab</ion-button
        >
      </div>
    </div>
  </ion-list>
  <ion-loading
    *ngIf="isLoading"
    message="Loading..."
    spinner="crescent"
    duration="0"
  ></ion-loading>
</ion-content>
