<ion-header>
  <ion-toolbar class="custom">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="manage-course"></ion-back-button>
    </ion-buttons>
    <ion-title class="custom-title">Manajemen Kursus</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Optional: Add a search bar -->
  <!-- <ion-searchbar show-cancel-button="never" placeholder="Cari Kursus"></ion-searchbar> -->

  <div class="button-container">
    <ion-button (click)="addCourse()">Tambah</ion-button>
  </div>

  <!-- Display message if no courses -->
  <ng-container *ngIf="noCoursesMessage; else courseList">
    <div class="ion-text-center ion-padding">
      <p>{{ noCoursesMessage }}</p>
    </div>
  </ng-container>

  <!-- Display courses if available -->
  <ng-template #courseList>
    <ion-grid>
      <ion-row>
        <ion-col size="12" *ngFor="let course of courses">
          <ion-card>
            <div class="card m-1" (click)="editCourse(course.course_id)">
              <img
                [src]="course.course_image"
                class="img-fluid"
                alt="Course Image"
                style="width: 100%; height: 200px; object-fit: cover;"
              />
              <div class="card-body">
                <div>
                  <span class="text-start"
                    >{{ course.course_title }} &nbsp;</span
                  >
                  <br />
                  <span style="font-size: 12px !important"
                    >{{ course.course_rating ? course.course_rating + ' ★' :
                    'belum diulas' }} - {{ course.enrollment.length }} &nbsp;👤</span
                  >
                </div>
              </div>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-template>
</ion-content>
