<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tab/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="custom-title">Kursus Saya</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-icon name="search-outline" class="search-icon"></ion-icon>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-segment [(ngModel)]="segmentValue" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="all">
      <ion-label>Semua</ion-label>
    </ion-segment-button>
    <ion-segment-button value="in-progress">
      <ion-label>Proses</ion-label>
    </ion-segment-button>
    <ion-segment-button value="completed">
      <ion-label>Selesai</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-list>
    <ion-item *ngFor="let course of filteredCourses">
      <ion-label (click)="navigateToDetail(course.id, course.status)">
       <div class="row">
        <div class="col-4">
          <ion-img style="width: 90%; height: 100px" [src]="course.image"></ion-img>
        </div>
        <div class="col-8">
          <h2>{{ course.title }}</h2>
          <p>{{ course.teacher }}</p>
          <span [ngClass]="getStatusClass(course.status)" class="float-end mb-3 p-1 rounded">{{ getStatusText(course.status) }}</span>
          <ion-progress-bar 
            [class.custom-progress-bar]="course.progress < 1" 
            [value]="course.progress" 
            [color]="course.progress === 1 ? 'success' : undefined">
          </ion-progress-bar>
          <p>{{ course.progressDetail }}</p>
          <span class="float-end">{{ course.activePeriod ? course.activePeriod : 'Aktif selamanya' }}</span>
        </div>
       </div>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
