<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tab/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="custom-title">Kursus Saya</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-icon name="search-outline" class="search-icon"></ion-icon>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="!isLoggedIn()">
    <h5 class="text-center mt-5">Silahkan Login Terlebih Dahulu</h5>
    <div class="d-flex justify-content-center">
      <ion-button
        color="primary"
        shape="round"
        (click)="redirectToLogin()"
        class="mt-3"
        >Klik Disini</ion-button
      >
    </div>
  </div>
  <div *ngIf="isLoggedIn()">
    <ion-segment
      [(ngModel)]="segmentValue"
      (ionChange)="segmentChanged($event)"
    >
      <ion-segment-button value="all">
        <ion-label>Semua</ion-label>
      </ion-segment-button>
      <ion-segment-button value="in-progress">
        <ion-label>Proses</ion-label>
      </ion-segment-button>
      <ion-segment-button value="completed">
        <ion-label>Selesai</ion-label>
      </ion-segment-button>
    </ion-segment>

    <ion-list>
      <ion-item *ngFor="let course of filteredCourses">
        <ion-label
          (click)="navigateToDetail(course.id, course.status, course.id, course.price)"
        >
          <div class="row">
            <div class="col-4">
              <ion-img
                style="width: 90%; height: 100px"
                [src]="course.image"
              ></ion-img>
            </div>
            <div class="col-8">
              <h2 style="font-size: 4vw">{{ course.title }}</h2>
              <p>{{ course.teacher }}</p>
              <span
                [ngClass]="getStatusClass(course.status)"
                class="float-end mb-3 p-1 rounded"
                >{{ getStatusText(course.status) }}</span
              >
              <ion-progress-bar
                [class.custom-progress-bar]="course.progress < 1"
                [value]="course.progress"
                [color]="course.progress === 1 ? 'success' : undefined"
              >
              </ion-progress-bar>
              <p style="font-size: 3vw" class="mt-1">
                {{ course.progressDetail }}
              </p>
              <span style="font-size: 3vw" class="float-end"
                >{{ course.activePeriod ? 'Aktif hingga ' + (course.activePeriod
                | date:'dd MMM yyyy | HH:mm:ss') : 'Aktif selamanya' }}</span
              >
            </div>
          </div>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
