ion-card {
    margin: 20px;
  }
  
  ion-item {
    margin: 16px;
  }
  
  ion-modal {
    --height: 75%;
    --width: 90%;
    --border-radius: 10px;
    // --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  }
  
  ion-modal::part(backdrop) {
    background: rgba(209, 213, 219);
    opacity: 1;
  }

  @media (max-width: 576px) {
    ion-content, ion-modal {
      font-size: 13px; /* Ukuran font untuk perangkat mobile */
    }
  }
  
  ion-modal ion-toolbar {
    --color: rgb(69, 59, 255);
  }

  title {
    font-size: 15px;
  }

  h2 { 
    font-size: 15px;
  }

  h3 {
    font-size: 15px;
  }
  
  h4 {
    font-size: 15px;
  }