<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title class="custom-title">Daftar Menjadi Pengajar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="PersyatanTeknis">Persyatan Teknis</p>
  <ion-input class="container"label="Syarat dan ketentuan" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input><br>
  <ion-button class="tombol" size="small">Tambah</ion-button><br><br>
  <ion-button class="kembali" fill="outline">Kembali</ion-button>
  <ion-button class="lanjut" type="submit" >Lanjut</ion-button>
 
</ion-content>
