<ion-header>
  <ion-toolbar class="header-toolbar"> 
    <ion-buttons slot="start"> 
      <ion-back-button defaultHref="forgot-password"></ion-back-button> 
    </ion-buttons>
    <ion-title>Atur Kata Sandi</ion-title> 
  </ion-toolbar>
</ion-header>
<ion-content fullscreen> 
  <img class="center" style="margin-top: -70px; width: 200px;" src="../../../assets/img/BSA.png" alt="alternative text">
  <form>
    <div id="container">
      <ion-input type="{{ showPassword ? 'text' : 'password' }}"  id="password" class="input-sign" label="Password Baru" label-placement="floating" name="password" [(ngModel)]="formData.password" (ngModelChange)="validatePassword()" required>
        <ion-icon 
          class="ic-sign"
          [name]="showPassword ? 'eye-outline' : 'eye-off-outline'" 
          (click)="togglePasswordVisibility()">
        </ion-icon>
      </ion-input>
      <div *ngIf="!isPasswordValid && formData.password" class="warning-text">
        Password harus kombinasi huruf besar, kecil, angka, dan minimal 8 karakter
      </div>
      <br>
      <ion-input type="{{ showPassword ? 'text' : 'password' }}" name="confirmPassword" class="input-sign" label="Konfirmasi Password" label-placement="floating" placeholder="Konfirmasi Password" [(ngModel)]="formData.confirmPassword" required><ion-icon class="ic-sign" name="lock-open-outline"></ion-icon></ion-input>
      <div *ngIf="!passwordsMatch && formData.confirmPassword" class="warning-text">
        Password tidak sesuai
      </div>
      <div class="float-start ms-4 mt-2 mb-2">
        <ion-checkbox [name]="showPassword ? 'eye-outline' : 'eye-off-outline'" (click)="togglePasswordVisibility()" class="show-password-checkbox" id="show-password" labelPlacement="end">Show Password</ion-checkbox>
      </div>
      <br>
    </div>
    <ion-button class="btn-purple" style="background-color: #a343fc;" (click)="resetPassword()" [disabled]="isLoading || !isFormValid()" [routerLink]><ng-container *ngIf="!isLoading; else loadingTemplate">Kirim</ng-container>
    </ion-button>
    
    <ng-template #loadingTemplate>
      <ion-spinner name="crescent"></ion-spinner>
    </ng-template>
  </form>
</ion-content>
<ng-container #alertContainer></ng-container>
