<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>Judul Kursus</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="button-container">
    <ion-button class="custom-button selesai-button">Selesai</ion-button>
    <ion-button class="nav-button-1"> <ion-icon name="arrow-back"></ion-icon></ion-button>
    <ion-button class="nav-button-2"><ion-icon name="arrow-forward"></ion-icon></ion-button>
  </div>

  <h2>Pendahuluan</h2>
  
  <div class="video-container">
    <video width="100%" controls controlsList="nodownload">
      <source src="../../../assets/img/pagugi.mkv" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Deskripsi</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      pelajaran ini mempelajari tentang anatomi tubuh manusia, yang akan membantu kita memahami bagaimana tubuh kita bekerja dan bagaimana menjaga kesehatannya.
    </ion-card-content>
  </ion-card>
</ion-content>