<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>Notifikasi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card class="notification-card">
      <ion-item>
        <img slot="start" src="../../../assets/img/faq.png" class="notification-icon">
        <ion-label>
          <h2>Notifikasi penting</h2>
          <p>kursus incaran mu lagi dapat harga termurah</p>
        </ion-label>
      </ion-item>
    </ion-card>
    <ion-card class="notification-card">
      <ion-item>
        <img slot="start" src="../../../assets/img/ungu.png" class="notification-icon">
        <ion-label>
          <h2>Pembaruan Konten Kursus</h2>
          <p>Kursus nama kursus telah memperbaharui konten</p>
        </ion-label>
      </ion-item>
    </ion-card>
    <ion-card class="notification-card">
      <ion-item>
        <img slot="start" src="../../../assets/img/bsa2.png" class="notification-icon">
        <ion-label>
          <h2>Voucher</h2>
          <p>Segera gunakan voucher ini sebelum masa berlakunya habis. Jangan lewatkan diskon spesial ini!</p>
        </ion-label>
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>
