<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-searchbar
      [placeholder]="searchHistoryPlaceholder"
      animated
      (keydown)="handleKeyDown($event)"
      #searchbar
    >
      <ion-icon name="search" slot="start"></ion-icon>
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="card" *ngIf="searchHistory.length > 0" style="border-radius: 0; background-color: #FAF9F9;">
    <div class="card-body p-2">
      <div class="row" *ngFor="let search of searchHistory">
        <div class="col-12" (click)="setSearchQuery(search.search_query)">
          <p class="float-start">{{ search.search_query }}</p>
          <p class="float-end" (click)="deleteSearchHistoryItem(search.id)">x</p>
        </div>
        <hr>
      </div>
      <p class="text-center" (click)="deleteAllSearchHistory()">Hapus Riwayat Pencarian</p>
    </div>
  </div>
</ion-content>
