.search-container {
    display: flex;
    align-items: center;
  }
  
  ion-toolbar {
    --background: #fff;
    --border-radius: 10px;
    --box-shadow: 0 2px 4px rgba(37, 33, 33, 0.1);
  }
  
  ion-searchbar {
    flex: 1;
    --background: #fff;
    --border-radius: 10px;
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  ion-avatar img {
    border-radius: 50%;
  }
 

  .icon {
    color: #8F00FF;
  }

  // @import "~bootstrap/dist/css/bootstrap.min.css";
.centered-container {
    width: 100%;
    height: 50%;
    display: flex;
    overflow: hidden;
    background: linear-gradient(to bottom right, 
                            #8F00FF 20%, 
                            #85B6FF 80%, 
                            #A1EEFF 100%);
}

.title {
    margin-top: 5%;
    font-size: 17px;
    font-weight: bold;
    margin-left: 5%;
    margin-bottom: 20px;
}


.div6 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 17%;
    height: 30%;
}

img {
    margin-top: 10%;
    width: 50%;
}


.div-card {
    display: flex;
    margin-top: 5px;
    background-color: #4df3ff;
}

.Recommend-course {
    margin-top: 3%;
    margin-left: 5%;
    font-size: 20px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.course {
    margin-top: 0;
    width: 40%;
    height: 20%;
    border: 1px solid #000000;
}

.card {
    width: 50%;
    height: 50%;
}

.text-menu {
    font-size: 15px;
    margin-top: 10px;
    color: rgb(255, 255, 255) !important;
}

.container-scroll {
    overflow-x: auto;
    white-space: nowrap;
    padding: 20px;
  }

  .carousel-row {
    display: flex;
    flex-wrap: nowrap;
  }
