<ion-header>
  <ion-toolbar>
    <ion-item>
    <ion-icon name="arrow-back-outline"></ion-icon>
    <ion-title>Keuangan</ion-title>
  </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="transaction-item">
    <div class="transaction-details">
      <div class="description">
        user 321 membeli kursus "nama kursus"
      </div>
      <div class="amount">
        Rp. 221.000
        <ion-badge color="success">masuk</ion-badge>
      </div>
      <div class="date">
        04-01-2024
      </div>
    </div>
  </div>

  <div class="transaction-item">
    <div class="transaction-details">
      <div class="description">
        anda menarik uang
      </div>
      <div class="amount">
        Rp. 221.000
        <ion-badge color="danger">keluar</ion-badge>
      </div>
      <div class="date">
        04-01-2024
      </div>
    </div>
  </div>
</ion-content>

