<ion-header [translucent]="true">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref=""></ion-back-button>
      </ion-buttons>
      <ion-title>
        <!-- <ion-icon name="time-outline"></ion-icon> -->
        Judul Quiz
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="container">
      <ion-card>
        <ion-list>
          <ion-radio-group value="strawberries">
            <ion-radio value="grapes" labelPlacement="end">Grapes</ion-radio><br />
            <ion-radio value="strawberries" labelPlacement="end">Strawberries</ion-radio><br />
            <ion-radio value="pineapple" labelPlacement="end">Pineapple</ion-radio><br />
            <ion-radio value="cherries" labelPlacement="end">Cherries</ion-radio>
          </ion-radio-group>
        </ion-list>
      </ion-card>
    </div>
  </ion-content>
