<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      <!-- <ion-icon name="time-outline"></ion-icon> -->
      2m 10d tersisa
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        Submit
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="container">
    <ion-card>
      <ion-list>
        <p class="point">50 point</p>
      </ion-list>
      <img src="../../../assets/img/pappap.avif" />
        <p class="question">pertanyaan</p>
      <ion-list>
        <ion-radio-group value="strawberries">
          <ion-radio value="grapes" labelPlacement="end">Grapes</ion-radio><br />
          <ion-radio value="strawberries" labelPlacement="end">Strawberries</ion-radio><br />
          <ion-radio value="pineapple" labelPlacement="end">Pineapple</ion-radio><br />
          <ion-radio value="cherries" labelPlacement="end">Cherries</ion-radio>
        </ion-radio-group>
      </ion-list>
    </ion-card>
  </div>
</ion-content>
