<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tab/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Payment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-radio-group [(ngModel)]="selectedPaymentMethod">
      <ion-list-header>
        <ion-label>Pilih metode pembayaran</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let method of paymentMethods">
        <ion-radio labelPlacement="start" [value]="method.payment_method_code">
          <img
            [src]="method.payment_method_image"
            class="payment-icon"
            alt="{{ method.payment_method_name }}"
          />
          {{ method.payment_method_name }}</ion-radio
        >
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-button expand="block" (click)="checkout()" class="checkout-button">checkout now</ion-button>
</ion-footer>