<ion-header>
  <ion-toolbar>
    <ion-item>
    <ion-icon name="arrow-back-outline"></ion-icon>
    <ion-title>Profile</ion-title>
    <ion-button slot="end" color="tertiary" >simpan</ion-button>
  </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="p">informasi pribadi</p>
  <ion-card class="p-2">
    <ion-textarea class="formtextarea"label="Tentang Saya" label-placement="floating" fill="outline" placeholder="Enter text" size="big"></ion-textarea><br>
    <ion-input class="forminput"label="Github (opsional)" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input><br>
    <ion-input class="forminput"label="Linkedin (opsional)" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input><br>
    <ion-input class="forminput"label="Youtube (opsional)" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input><br>
</ion-card>

  <p class="p">Riwayat Pendidikan</p>
  <ion-card class="p-2">
    <ion-icon name="trash"></ion-icon>
    <ion-input class="forminput"label="Gelar Akademis" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input><br>
    <ion-input class="forminput"label="Sekolah atau Universitas" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input><br>
    <ion-input class="forminput"label="Jurusan" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input><br>
    <ion-input class="forminput"label="Tahun Lulus" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input><br>
</ion-card>
  <ion-button class="tombol" size="small" color="tertiary">Tambah</ion-button><br><br>

  <p class="p">Pengalaman</p>
    <ion-card class="p-2">  
      <ion-icon name="trash"></ion-icon>
      <ion-input class="forminput"label="Nama Entitas" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input><br>
      <ion-input class="forminput"label="Posisi" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input><br>
      <ion-input type="date" class="forminput"label="mulai" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input><br>
      <ion-input type="date" class="forminput"label="selesai" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input><br>
      <ion-checkbox labelPlacement="end">Masih bekerja disini</ion-checkbox>
      <ion-textarea class="formtextarea"label="Gelar Akademis" label-placement="floating" fill="outline" placeholder="Enter text" size="big"></ion-textarea><br>
      
    </ion-card>
  <ion-button class="tombol" size="small" color="tertiary" >Tambah</ion-button><br><br><br>


  <p class="p">Keahlian atau spesialis</p>
  <ion-card class="p-2">
    <ion-input class="forminput"label="bidang yang dikuasai" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input><br>
    <ion-input class="forminput"label="bidang yang ingin diajarkan" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input><br>
</ion-card>

</ion-content>
