<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" style="color: purple ;"></ion-back-button>
    </ion-buttons>
    <ion-title>Tarik saldo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col size="2">
          <img src="../../../assets/img/bsa2.png" alt="">
        </ion-col>
        <ion-col size="6" style="color: black;">
          <h1 style="font-size: 20px;">Tarik Saldo</h1>
          <h2 style="font-size: 15px;">Rp. 50.000</h2>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked" style="margin-bottom: 10px; font-size: 20px;">Nominal Penarikan</ion-label>
        <ion-input type="tell" placeholder="Input Nominal" style="font-size: 15px;"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label position="stacked" style="margin-bottom: 10px; font-size: 20px;">E-wallet</ion-label>
      <ion-select placeholder="E-wallet" style="font-size: 15px;">
        <ion-select-option value="bank1">Dana</ion-select-option>
        <ion-select-option value="bank2">Go Pay</ion-select-option>
        <ion-select-option value="ewallet1">Shopee Pay</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" style="margin-bottom: 10px; font-size: 20px;">Nomor Rekening / Hp</ion-label>
      <ion-input type="text" placeholder="Masukkan nomor rekening atau hp" style="font-size: 15px;"></ion-input>
    </ion-item>
  </ion-card>

  <ion-card style="background-color: rgb(255, 226, 253); color: black;">
    <h1 style="font-size: 20px; margin: 10px;">Informasi Biaya Penarikan</h1>
    <h2 style="font-size: 15px; margin: 10px;">EWallet = 6.500</h2>
  </ion-card>

  <ion-card style="background-color: rgb(255, 241, 202);">
    <ion-grid>
      <ion-row>
        <ion-col size="2">
          <ion-icon name="information-outline"
            style="background-color: rgb(255, 123, 0); color: white; width: 35px; height: 35px; border-radius: 100%;"></ion-icon>
        </ion-col>
        <ion-col size="10" style="text-align: justify; font-size: 15px;">
          <p>Proses penarikan saldo akan dilakukan secara
            manual oleh admin pada rentang waktu antara H+3
            hingga maksimal H+7, pada hari dan jam kerja, dari
            hari Senin hingga Jumat, mulai pukul 08.00 WIB
            hingga 16.00 WIB.</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <div class="d-flex justify-content-center">
    <button class="btn" style="width: 90%; background-color: #4F00F8; color: white;">Tarik Saldo</button>
  </div>
</ion-content>