<ion-header>
  <ion-toolbar class="header-toolbar"> 
    <ion-buttons slot="start"> 
      <ion-back-button defaultHref="login"></ion-back-button> 
    </ion-buttons>
    <ion-title>Atur Kata Sandi</ion-title> 
  </ion-toolbar>
</ion-header>
<ion-content fullscreen> 
  <img class="center" style="margin-top: -70px; width: 200px;" src="../../../assets/img/BSA.png" alt="alternative text">
  <form>
    <div id="container">
      <ion-input type="email" id="email" class="input-sign" label="Email" label-placement="floating" placeholder="Email" name="email" [(ngModel)]="formData.email" (ngModelChange)="validateEmail()" required>
        <ion-icon class="ic-sign" name="mail-outline"></ion-icon>
      </ion-input>
      <div *ngIf="!isEmailValid && formData.email" class="warning-text">
        Email tidak valid
      </div>
      <br>
      <div class="row">
        <div class="col-10">
          <ion-input type="text" id="otp" class="input-sign" label="Kode OTP" label-placement="floating"  placeholder="Kode OTP" name="otp" [(ngModel)]="formData.email" (ngModelChange)="validateEmail()" required>
            <ion-icon class="ic-sign" name="mail-outline"></ion-icon>
            <button>Kirim</button>
          </ion-input>
        </div>
        <div class="col-2">
          <ion-button 
          class="btn-purple" 
          style="background-color: #a343fc; padding: 8px; margin-top: 1px;" 
          (click)="register()" 
          [disabled]="isLoading || !isFormValid()">
          <ng-container *ngIf="!isLoading; else loadingTemplate">Kirim OTP</ng-container>
        </ion-button>
        </div>
      </div>
    </div>
    <br>
    <ion-button 
  class="btn-purple w-100 p-1" 
  style="background-color: #a343fc; margin-right: 0 !important;" 
  (click)="register()" 
  [disabled]="isLoading || !isFormValid()">
  <ng-container *ngIf="!isLoading; else loadingTemplate">Kirim</ng-container>
</ion-button>

<ng-template #loadingTemplate>
  <ion-spinner name="crescent"></ion-spinner>
</ng-template>

  </form>
</ion-content>

