<ion-content>
  <div class="centered-container">
    <div class="centered-content">
      <ion-grid class="grid">
        <ion-row>
          <ion-col size="4">
            <img class="img" src="../../../assets/img/bsa2.png" alt="">
          </ion-col>
          <ion-col size="8" class="tiga">
            <ion-row>
              <ion-col class="empat">
                <ion-icon class="chat" name="chatbubble-ellipses-outline"></ion-icon>
                <ion-icon class="notif" name="notifications-outline"></ion-icon>
                <img class="image" src="../../../assets/img/bsa2.png" alt="">
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
      <p class="halo">Hai <b>{{name}},</b></p>
      <h1 id="salam">{{ salam }}</h1>
    </div>
  </div>
    <div class="row justify-content-center text-center">
      <div class="col-4">
        <div class="position-relative">
          <img src="../../../assets/img/kursus_saya.png" alt="">
        </div>
        <p class="text-menu">Kursus Saya</p>
      </div>
      <div class="col-4">
        <div class="position-relative">
          <img src=".../../../assets/img/tips_belajar.png" alt="">
        </div>
        <p class="text-menu">Tips Belajar</p>
      </div>
      <div class="col-4">
        <div class="position-relative">
          <img src="../../../assets/img/tes_kemampuan.png" alt="">
        </div>
        <p class="text-menu">Tes Kemampuan</p>
      </div>
    </div>
  <!-- </div> -->
  <br>
  <P class="title">Top Pengajar</P>
  <div class="container-scroll">
    <div
      class="row carousel-row text-center fw-bold"
      style="font-size: 12px;"
    >
      <div class="col">
        <img
          src="../../../assets/img/bsa2.png"
          alt=""
          style="width: 50px;"
          class="rounded-circle"
        />
        <p class="mt-1">Rindi Nabila</p>
      </div>
      <div class="col">
        <img
          src="../../../assets/img/bsa2.png"
          alt=""
          style="width: 50px;"
          class="rounded-circle"
        />
        <p class="mt-1">Rindi Nabila</p>
      </div>
      <div class="col">
        <img
          src="../../../assets/img/bsa2.png"
          alt=""
          style="width: 50px;"
          class="rounded-circle"
        />
        <p class="mt-1">Rindi Nabila</p>
      </div>
      <div class="col">
        <img
          src="../../../assets/img/bsa2.png"
          alt=""
          style="width: 50px;"
          class="rounded-circle"
        />
        <p class="mt-1">Rindi Nabila</p>
      </div>
    </div>
  </div>
  <br>
  <P class="title">Rekomendasi Kursus</P>
  <div class="container-scroll">
    <div
      class="row carousel-row text-center fw-bold"
      style="font-size: 12px;"
    >
      <div class="col">
        <div class="card">
          <div class="card-body" style="height: 27em; padding: 0;">
            <img src="https://via.placeholder.com/300" alt="" style="width: 150px; height: 70px;">
            <br>
            <div style="display: flex; align-items: center; justify-content: flex-start;">
              <img src="../../../assets/img/bsa2.png" style="width: 40px; margin-top: 3px" class="rounded-circle">
              <div style="margin-left: 10px; text-align: left;">
                <span style="display: block;">Matematika jnj...</span>
                <span style="display: block;">Rindi Nabila - 4,5</span>
              </div>
            </div>              
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>