<ion-content>
  <div class="centered-container">
    <div class="centered-content">
      <ion-grid class="grid">
        <ion-row>
          <ion-col size="4">
            <img class="img" src="../../../assets/img/bsa2.png" alt="">
          </ion-col>
          <ion-col size="8" class="tiga">
            <ion-row>
              <ion-col class="empat">
                <ion-icon class="chat" name="chatbubble-ellipses-outline"></ion-icon>
                <ion-icon class="notif" name="notifications-outline"></ion-icon>
                <img class="image" src="../../../assets/img/bsa2.png" alt="">
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
      <p class="halo">Hai nama <b>User,</b></p>
      <h1>Selamat datang User</h1>
      <!-- <ion-card>
        <ion-card-header>
          <ion-card-title></ion-card-title>
          <ion-card-subtitle></ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          Carousel
        </ion-card-content>
      </ion-card> -->
    </div>
  </div>
  <!-- <div class="d-flex justify-content-center"> -->
    <div class="row justify-content-center text-center">
      <div class="col-4">
        <div class="position-relative">
          <img src="../../../assets/img/bsa2.png" alt="">
        </div>
        <p class="text-danger">Kursus Saya</p>
      </div>
      <div class="col-4">
        <div class="position-relative">
          <img src=".../../../assets/img/bsa2.png" alt="">
        </div>
        <p class="text-menu">Tips Belajar</p>
      </div>
      <div class="col-4">
        <div class="position-relative">
          <img src="../../../assets/img/bsa2.png" alt="">
        </div>
        <p class="text-menu">Tes Kemampuan</p>
      </div>
    </div>
  <!-- </div> -->
  <div class="contrainer">
    <P class="title">Top Pengajar</P>
    <div class="div5">
      <div class="div6">
        <div class="pengajar">
          <img class="img-pengajar" src="../../../assets/img/bsa2.png" alt="rindi">
          <div class="pengajar-name">Nama pengajar</div>
        </div>
      </div>
      <div class="div6">
        <div class="pengajar">
          <img class="img-pengajar" src="../../../assets/img/bsa2.png" alt="rindi">
          <div class="pengajar-name">Nama pengajar</div>
        </div>
      </div>
      <div class="div6">
        <div class="pengajar">
          <img class="img-pengajar" src="../../../assets/img/bsa2.png" alt="rindi">
          <div class="pengajar-name">Nama pengajar</div>
        </div>
      </div>
      <div class="div6">
        <div class="pengajar">
          <img class="img-pengajar" src="../../../assets/img/bsa2.png" alt="rindi">
          <div class="pengajar-name">Nama pengajar</div>
        </div>
      </div>
      <div class="div6">
        <div class="pengajar">
          <img class="img-pengajar" src="../../../assets/img/bsa2.png" alt="rindi">
          <div class="pengajar-name">Nama pengajar</div>
        </div>
      </div>
      <div class="div6">
        <div class="pengajar">
          <img class="img-pengajar" src="../../../assets/img/bsa2.png" alt="rindi">
          <div class="pengajar-name">Nama pengajar</div>
        </div>
      </div>
    </div>
    <h1 class="Recommend-course">Recommend Course</h1>
    <ion-card class="course">
      <ion-card class="card">
        <img src="https://ionicframework.com/docs/img/demos/card-media.png" alt="">
      </ion-card>
    </ion-card>
  </div>
</ion-content>