<ion-content>
  <div class="centered-conrainer">
    <div class="centered-content">
      <img src="../../assets/img/BSA.png" alt="alternative text">
      <h1>BS</h1>
      <p>Academy</p>
    </div>
  </div>
  <div class="centered-contrainer">
    <div class="centered-content">
      <h2>Sign to your account</h2>
    </div>
  </div>
  <!-- <button class="btn-fb">
    <ion-icon class="facebook" name="logo-facebook"></ion-icon>
    Continue with Facebook
  </button> -->
  <br>
  <button class="btn-google">
    <ion-icon class="google" name="logo-google"></ion-icon>
    Continue with Google
  </button>
  <br>
  <button class="btn-email">
    <ion-icon class="email" name="mail-outline"></ion-icon>
    Continue with Email
  </button>
  <br>
  <h3>Or</h3>
  <br>
  <h4>Dont't have an account? <b>Sign Up</b></h4>
</ion-content>



