<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tab/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Profil Pengajar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contrainer">
    <div class="contrainer-image">
      <ion-avatar>
        <img [src]="teacherData.data_user.user_profile_picture ? teacherData.data_user.user_profile_picture : 'assets/img/bsa2.png'" alt="" class="image mt-3" />
      </ion-avatar>
      <p class="teacher-name text-light fw-bold mb-1 mt-4">{{ teacherData.data_user.user_name }}</p>
      <i class="text-light" style="font-size: 12px;">Menjadi pengajar sejak {{ teacherData.created_at | date : 'dd MMMM yyyy' }}</i>
    </div>
  </div>

  <ion-grid>
    <ion-row class="profile-stats">
      <ion-col class="stat">
        <ion-icon name="star"></ion-icon>
        <p>{{ averageRating.toFixed(1) }} Rating Pengajar</p>
      </ion-col>
      <ion-col class="stat">
        <ion-icon name="chatbubbles"></ion-icon>
        <p>{{ totalReviews }} Ulasan</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="stat">
        <ion-icon name="people"></ion-icon>
        <p>{{ totalParticipants }} Pelajar</p>
      </ion-col>
      <ion-col class="stat">
        <ion-icon name="play"></ion-icon>
        <p>{{ totalCourses }} Kursus</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <h5 style="margin-left: 15px; margin-right: 15px">Tentang Pengajar</h5>
  <p style="margin-left: 15px; margin-right: 15px">{{ teacherData.teacher_description }}</p>

  <h5 *ngIf="teacherData?.teacher_link_linkedin || teacherData?.teacher_link_github" style="margin-left: 15px; margin-right: 15px">Informasi Kontak</h5>
  <div class="content ms-3">
    <div
      *ngIf="teacherData?.teacher_link_linkedin"
      class="d-flex align-items-center mb-2"
    >
      <ion-icon
        name="logo-linkedin"
        style="color: rgb(63, 146, 255); width: 25px; height: 25px"
      ></ion-icon>
      <a
        href="{{ teacherData?.teacher_link_linkedin }}"
        class="ms-2"
        style="color: blueviolet"
        >{{ teacherData?.teacher_link_linkedin }}</a
      >
    </div>
    <div
      *ngIf="teacherData?.teacher_link_github"
      class="d-flex align-items-center mb-2"
    >
      <ion-icon name="logo-github" style="width: 25px; height: 25px"></ion-icon>
      <a
        href="{{ teacherData?.teacher_link_github }}"
        class="ms-2"
        style="color: blueviolet"
        >{{ teacherData?.teacher_link_github }}</a
      >
    </div>
    <div
      *ngIf="teacherData?.teacher_link_youtube"
      class="d-flex align-items-center mb-2"
    >
      <ion-icon
        name="logo-youtube"
        style="color: red; width: 25px; height: 25px"
      ></ion-icon>
      <a
        href="{{ teacherData?.teacher_link_youtube }}"
        class="ms-2"
        style="color: blueviolet"
        >{{ teacherData?.teacher_link_youtube }}</a
      >
    </div>
  </div>

  <h5 *ngIf="teacherData?.teacher_experience" class="mt-3" style="margin-left: 15px; margin-right: 15px;">Pengalaman</h5>
  <div style="margin-left: 15px; margin-right: 15px;">
    <div *ngFor="let teacher_experience of teacherData.teacher_experience; let i = index">
      <div class="ms-2">
        <p class="fw-bold mb-1" style="font-size: 18px">{{ teacher_experience.position }}</p>
        <p class="mb-1" style="font-size: 14px">{{ teacher_experience.name }}</p>
        <p class="mb-1" style="font-size: 14px">{{ formatDate(teacher_experience.start_date) }} - {{ teacher_experience.end_date ? formatDate(teacher_experience.end_date) : 'Saat ini' }} · {{ calculateDuration(teacher_experience.start_date, teacher_experience.end_date) }}</p>
        
        <ng-container *ngIf="teacher_experience.description.length <= 100; else showMore">
          <p class="mb-1 mt-2" style="font-size: 14px">{{ teacher_experience.description }}</p>
        </ng-container>
        
        <ng-template #showMore>
          <p class="mb-0 mt-2" style="font-size: 14px">{{ showFullDescription[i] ? teacher_experience.description : (teacher_experience.description | slice:0:100) }}</p>
          <button class="btn btn-link" (click)="toggleDescription(i)" style="color: blueviolet; margin-left: -12px; margin-top: -10px;">
            {{ showFullDescription[i] ? 'Tutup' : 'Lihat lebih banyak' }}
          </button>
        </ng-template>
        
      </div>
      <div *ngIf="i !== teacherData.teacher_experience.length - 1" style="margin-bottom: 15px;"></div>
      <hr>
    </div>
  </div>

  <h5 *ngIf="teacherData?.teacher_education_history" class="mt-3" style="margin-left: 15px; margin-right: 15px;">Pendidikan</h5>
  <div style="margin-left: 15px; margin-right: 15px;">
    <div *ngFor="let teacher_education_history of teacherData.teacher_education_history; let i = index">
      <div class="ms-2">
        <p class="fw-bold mb-1" style="font-size: 18px">{{ teacher_education_history.teacher_university }}</p>
        <p class="mb-1" style="font-size: 14px">{{ teacher_education_history.teacher_degree_title }} - {{ teacher_education_history.teacher_major }}</p>
        <p class="mb-1" style="font-size: 14px">{{ formatDate(teacher_education_history.teacher_start_year) }} - {{ formatDate(teacher_education_history.teacher_graduation_year) }} · {{ calculateDuration(teacher_education_history.teacher_start_year, teacher_education_history.teacher_graduation_year) }}</p>
        
      </div>
      <div *ngIf="i !== teacherData.teacher_education_history.length - 1" style="margin-bottom: 15px;"></div>
      <hr>
    </div>
  </div>
  
  
  <h5 *ngIf="teacherData?.course" style="margin-left: 15px; margin-right: 15px;" class="mb-3 mt-2">
    Kursus
  </h5>
  <div class="container-scroll" style="margin-top: -30px">
    <div class="row carousel-row text-center fw-bold" style="font-size: 12px">
      <div
        class="card m-1 p-0"
        style="height: 200px"
        *ngFor="let course of teacherData.course"
        (click)="navigateToCourseDetails(course.course_id)"
      >
        <img
          [src]="course.course_image || 'https://via.placeholder.com/500'"
          class="img-fluid"
          [alt]="course.course_title"
          style="width: 100%; height: 90px; margin-top: 2px; object-fit: cover"
        />
        <div
          class="card-body p-1"
          style="display: flex; align-items: flex-start"
        >
          <div
            style="
              text-align: left;
              font-size: 10px;
              flex-grow: 1;
              flex-wrap: wrap;
              margin-top: 7px;
            "
          >
            <span style="display: block; word-break: break-all; font-size: 12px"
              >{{ course.course_title.length > 40 ?
              course.course_title.substring(0, 40) + '...' : course.course_title
              }}</span
            >
            <span
              style="font-size: 14px; color: {{ course.course_price ? '#8F00FF' : 'green' }}"
              >{{ course.course_price | currencyFormat }}
              <span
                style="
                  color: gray;
                  font-size: 10px;
                  text-decoration: line-through;
                "
                >{{ course.course_price_discount | currencyFormat }}</span
              ></span
            >
            <span style="display: block"
              >{{ teacherData.data_user.user_name }}</span
            >
            <div style="display: flex; align-items: center">
              <span>{{ course.course_rating }} &nbsp;</span>
              <app-star-rating
                [rating]="+(course?.course_rating || 0)"
              ></app-star-rating>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
