<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="my-course"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ title_course }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="segmentValue" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="custom">
      <ion-label>Pelajaran</ion-label>
    </ion-segment-button>
    <ion-segment-button value="segment" [disabled]="isMaterialSuccessEmpty">
      <ion-label>Sertifikat</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ng-container *ngIf="segmentValue === 'custom'">
    <ion-list *ngIf="courses && courses.length > 0">
      <ion-accordion-group [multiple]="true">
        <ion-accordion *ngFor="let bab of courses; let i = index" [value]="bab.title">
          <ion-item slot="header">
            <ion-label>{{ bab.title }}</ion-label>
            <p slot="end">{{ bab.course_materials.length + bab.quiz.length }} pelajaran</p>
          </ion-item>
          <div slot="content">
            <ion-list>
              <!-- Materi -->
              <ion-item *ngFor="let material of bab.course_materials; let j = index" 
                        (click)="detailMaterial(material.material_id)" 
                        [disabled]="!isPreviousMaterialCompleted(i, j)">
                <ion-icon name="play-outline" slot="start"></ion-icon>
                <ion-label>{{ material.material_sub_title }}</ion-label>
                <ion-icon *ngIf="isMaterialSuccessNotEmpty(material)" class="check-icon text-success" name="checkmark-circle" slot="end"></ion-icon>
              </ion-item>
          
              <!-- Kuis -->
              <ion-item *ngFor="let quiz of bab.quiz; let k = index" 
                        (click)="detailQuiz(quiz.id)" 
                        [disabled]="!isPreviousMaterialCompleted(i, k + bab.course_materials.length)">
                <ion-icon name="book-outline" slot="start"></ion-icon>
                <ion-label>{{ quiz.assignment_title }}</ion-label>
                <ion-icon *ngIf="isMaterialSuccessNotEmpty(quiz)" class="check-icon text-success" name="checkmark-circle" slot="end"></ion-icon>
              </ion-item>
            </ion-list>
          </div>
          
        </ion-accordion>
      </ion-accordion-group>
    </ion-list>
  </ng-container>
  
  

  <ng-container *ngIf="segmentValue === 'segment'">
    <ion-button color="tertiary" (click)="generatePNG()" >
      <ion-icon slot="start" name="print-outline" class="print-icon"></ion-icon>
      Cetak
    </ion-button>

    <div class="certificate-container">
      <div class="certificate" id="certificate" >
        <div class="header">
          <div class="logo">
            <img src="../../../assets/img/BSAwan.png" alt="Company Logo">
          </div>
          <div class="company-name">
            BSAwan
          </div>
        </div>
  
        <div class="body">
          <div class="left-section">
            <div class="award">
              <h2>SERTIFIKAT PENGHARGAAN</h2>
              <p>{{year}}</p>
            </div>
          </div>
          <!-- <div class="vertical-line"></div> -->
          <div class="right-section">
            <div class="recipient">
              <p>Sertifikat ini dipersembahkan kepada:</p>
              <h1>{{myname}}</h1>
              <div class="recipient-underline"></div>
              <div class="description">
                Sertifikat ini diberikan kepada {{myname}} 
                sebagai penghargaan atas usaha keras, ketekunan, dan 
                komitmen anda dalam meningkatkan pengetahuan dan 
                keterampilan melalui kursus ini.
              </div>
            </div>          
          </div>

          <div class="triangle">
            <img class="trianglepattern" src="../../../assets/img/PolaSegitiga.png" alt="Gambar Segitiga">
          </div>
        </div>
  
        <div class="footer">
          <div class="authority">
            <h3>{{ title_course }}</h3>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ion-content>
