ion-header{
    ion-toolbar{
        ion-icon{
            color:#6000C1;

        }
        ion-title{
            // font-family: 'Imprint MT Shadow', 'Arial Narrow', Arial, sans-serif;
            color:#6000C1;
        }
    }
}

ion-content{
    

  ion-segment-button {
    font-family: 'Roboto', sans-serif;
    --indicator-color: #6000C1;
  
  }
  
  /* Material Design styles */
  ion-segment-button.md {
    // --color: #000;
    --color-checked: #6000C1;
    --indicator-height: 4px;
  }
  
  /* iOS styles */
  ion-segment-button.ios {
    --color: #6000C1;
    --color-checked: #ffffff;
    --border-radius: 20px;
    // --background: #fff;
    // --background-checked:#fff;
    // --background-focused:#fff;
    // --background-focused-opacity:#fff;
    // --background-hover:#ffff;
    // --background-hover-opacity:#fff;
    // --border-color:#ffff;
    // --color-focused:#ffff;
    // --color-hover: #fff;
    // --indicator-color:#fff;
  
    
  }
    ion-accordion-group {
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 16px;
      }
      
      div{
        ion-list{
          .checo{
            color:#24FF00;
            ;
          }
        }
      }
      
      
      .frame {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 200px; 
        height: 380px;
        background-repeat: no-repeat;
        background-size: cover;
      }
          
      .certificate-container {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 842px;
        height: 595px;
        
      }
    
      .certificate {
        background: white url('/assets/img/bg.png') no-repeat center center;
        background-size: 100% 100%; /* changed from 95% to 100% */
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 842px;
        height: 595px;
        margin: 0 auto; /* added margin to center the certificate */

      }
    
      .certificate-border {
        border: 5px solid #000; /* Added border property */
        padding: 20px; /* Added padding inside the border */
      }
    
      .header {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
      }
    
      .logo img {
        height: 120px;
        margin-left: 20px;
      }
    
      .company-name {
        font-family: 'Alfa Slab One', cursive;
        font-size: 30px
      }
    
      .body {
        display: flex;
        justify-content: space-between;
      }
    
      .left-section, .right-section {
        flex: 1;
      }
    
      .right-section{
        margin-top: 5%;
      }
      .left-section{
        margin-left: 20px;
      }
    
      .award h2 {
        font-family: 'Freeman', sans-serif;
        margin: 0;
      }
    
      .award p {
        margin: 0;
      }
    
      .recipient {
        text-align: center;
      }
    
      .recipient p {
        font-size: 20px;
        margin: 0;
        font-weight: 400;
      }
    
      .recipient h1 {
        font-size: 32px;
        margin: 10px 0;
      }
    
      .recipient-underline {
        width: 100px;
        height: 2px;
        background: #000;
        margin: 10px auto;
      }
    
      .description {
        margin-top: 20px;
      }
    
      .footer {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin: 10%;
        
      }
    
      .authority {
        text-align: center;
        font-family: 'Freeman', sans-serif;
        font-weight: 500;
      }
      .triangle{
        position: absolute;
        margin-top: 200px;
      }
      .trianglepattern{
        left: 5%;
        width: 300px;
      }

      @media only screen and (max-width: 768px) {
        .certificate {
            transform: scale(0.4); 
            transform-origin: top left;
            // width: calc(floor(842px / 2));
            // height: calc(floor(595px / 2));
        }
        
      }
      @media only screen and (min-width: 800px) and (max-width:900px) {
        .certificate {
            transform: scale(0.7); 
            transform-origin: top left;
            
        }
        
      }
    }
    
