<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="centered-container">
    <div class="centered-content">
      <ion-grid class="grid">
        <ion-row>
          <ion-col size="4">
            <img class="img" src="../../../assets/img/bsa2.png" alt="">
          </ion-col>
          <ion-col size="8" class="tiga">
            <ion-row>
              <ion-col class="empat">
                <ion-icon class="chat" name="chatbubble-ellipses-outline"></ion-icon>
                <ion-icon class="notif" name="notifications-outline"></ion-icon>
                <img class="image" src="../../../assets/img/bsa2.png" alt="">
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
      <p class="halo">Hai <b>{{name}},</b></p>
      <h1>{{ salam }}</h1>
      <div class="container-scroll" id="scroll">
        <div
          class="row carousel-row text-center fw-bold"
          style="font-size: 12px;"
        >
              <img src="https://via.placeholder.com/500" class="img-fluid ms-2" alt="..." style="width: 80%; height: 130px;">
              <img src="https://via.placeholder.com/500" class="img-fluid" alt="..." style="width: 80%; height: 130px;">
          </div>
      </div>
    </div>
  </div>
    <div class="row justify-content-center text-center">
      <div class="col-4">
        <div (click)="test()" class="position-relative">
          <img src="../../../assets/img/kursus_saya.png" alt="">
        </div>
        <p class="mt-2">Kursus Saya</p>
      </div>
      <div class="col-4">
        <div class="position-relative">
          <img src=".../../../assets/img/tips_belajar.png" alt="">
        </div>
        <p class="mt-2">Tips Belajar</p>
      </div>
      <div class="col-4">
        <div class="position-relative">
          <img src="../../../assets/img/tes_kemampuan.png" alt="">
        </div>
        <p class="mt-2">Tes Kemampuan</p>
      </div>
    </div>
  <!-- </div> -->
  <br>
  <P class="title">Top Pengajar</P>
  <div class="container-scroll">
    <div
      class="row carousel-row text-center fw-bold"
      style="font-size: 12px;"
    >
      <div class="col">
        <img
          src="../../../assets/img/bsa2.png"
          alt=""
          style="width: 50px;"
          class="rounded-circle"
        />
        <p class="mt-1">Rindi Nabila</p>
      </div>
      <div class="col">
        <img
          src="../../../assets/img/bsa2.png"
          alt=""
          style="width: 50px;"
          class="rounded-circle"
        />
        <p class="mt-1">Rindi Nabila</p>
      </div>
      <div class="col">
        <img
          src="../../../assets/img/bsa2.png"
          alt=""
          style="width: 50px;"
          class="rounded-circle"
        />
        <p class="mt-1">Rindi Nabila</p>
      </div>
      <div class="col">
        <img
          src="../../../assets/img/bsa2.png"
          alt=""
          style="width: 50px;"
          class="rounded-circle"
        />
        <p class="mt-1">Rindi Nabila</p>
      </div>
    </div>
  </div>
  <br>
  <P class="title">Rekomendasi Kursus</P>
  <div class="container-scroll">
    <div
      class="row carousel-row text-center fw-bold"
      style="font-size: 12px;"
    >
        <div class="card m-1">
          <img src="https://via.placeholder.com/500" class="img-fluid" alt="..." style="width: 100%; height: 70px;">
          <div class="card-body">
            <div style="display: flex; align-items: center; justify-content: center;">
              <img src="../../../assets/img/bsa2.png" style="width: 40px; margin-top: 3px; margin-left: -10px;" class="rounded-circle">
              <div style="margin-left: 10px; text-align: left; font-size: 10px;">
                <span style="display: block;">Matematika Dasar</span>
                <span style="display: block;">Rindi Nabila - 4,5</span>
              </div>
            </div>  
          </div>
        </div>
        <div class="card m-1">
          <img src="https://via.placeholder.com/500" class="img-fluid" alt="..." style="width: 100%; height: 70px;">
          <div class="card-body">
            <div style="display: flex; align-items: center; justify-content: center;">
              <img src="../../../assets/img/bsa2.png" style="width: 40px; margin-top: 3px; margin-left: -10px;" class="rounded-circle">
              <div style="margin-left: 10px; text-align: left; font-size: 10px;">
                <span style="display: block;">Matematika Dasar</span>
                <span style="display: block;">Rindi Nabila - 4,5</span>
              </div>
            </div>  
          </div>
        </div>
        <div class="card m-1">
          <img src="https://via.placeholder.com/500" class="img-fluid" alt="..." style="width: 100%; height: 70px;">
          <div class="card-body">
            <div style="display: flex; align-items: center; justify-content: center;">
              <img src="../../../assets/img/bsa2.png" style="width: 40px; margin-top: 3px; margin-left: -10px;" class="rounded-circle">
              <div style="margin-left: 10px; text-align: left; font-size: 10px;">
                <span style="display: block;">Matematika Dasar</span>
                <span style="display: block;">Rindi Nabila - 4,5</span>
              </div>
            </div>  
          </div>
        </div>
      </div>
    </div>
</ion-content>