<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tab/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ courseDetails?.course_title || 'Judul Kursus' }}</ion-title>
    <ion-buttons slot="end">
      <ion-icon class="hati" name="heart-outline"></ion-icon>
      <ion-icon class="share" name="share-social-outline"></ion-icon>
      <ion-icon class="basket" name="basket-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="courseDetails">
  <div class="banner">
    <img [src]="courseDetails.course_image" alt="Banner Image" />
  </div>
  <div class="detailkursus">
    <h2>{{ courseDetails.course_title }}</h2>
    <div class="rating">
      <div *ngIf="courseDetails.course_rating">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star-half"></ion-icon>
      </div>
      <span
        >{{ courseDetails.course_rating ? courseDetails.course_rating : 'belum
        diulas' }}</span
      >
      <span>• 1000 peserta</span>
      <span>• 10 peringkat</span>
    </div>
    <div class="harga">
      <div style="display: flex; align-items: baseline;">
        <p style="color: blueviolet; font-size: 25px;">{{ courseDetails.course_price | currencyFormat }}&nbsp;</p>
      <del style="color: red;">{{ courseDetails.course_price_discount | currencyFormat }}</del>
      </div>
      <p class="namapengajar">
        Instuktur: <a href="#">{{ courseDetails.teacher?.user_name }}</a>
      </p>
    </div>
    <div class="kontenkursus">
      <h3>kursus ini mencakup:</h3>
      <ul>
        <li>3 bab pembelajaran</li>
        <li>4 video pembelajaran</li>
        <li>1 quiz</li>
        <li>sertifikat penyelesaian</li>
        <li>berlaku selamanya</li>
      </ul>
    </div>
    <!-- <div class="materikursus">
      <h3>yang akan dipelajari kursus ini</h3>
      <ul>
        <li>mempelajari tentang python dasar</li>
      </ul>
    </div> -->
  </div>

  <div class="deskripsikursus">
    <h3>Deskripsi</h3>
    <p>{{ courseDetails.course_description }}</p>
  </div>

  <ion-accordion-group [multiple]="true">
    <ion-accordion value="pendahuluan">
      <ion-item slot="header">
        <ion-label>Pendahuluan</ion-label>
        <p slot="end">1 pelajaran</p>
      </ion-item>
      <div slot="content">
        <ion-list>
          <ion-item>
            <ion-icon name="play-outline" slot="start"></ion-icon>
            <ion-label>Pendahuluan</ion-label>
            <ion-icon
              class="checo"
              name="checkmark-circle"
              slot="end"
            ></ion-icon>
          </ion-item>
        </ion-list>
      </div>
    </ion-accordion>

    <ion-accordion value="instalasi">
      <ion-item slot="header">
        <ion-label>Instalasi Python dan VS Code</ion-label>
        <p slot="end">2 pelajaran</p>
      </ion-item>
      <div slot="content">
        <ion-list>
          <ion-item>
            <ion-icon name="play-outline" slot="start"></ion-icon>
            <ion-label>Instalasi Python dan VS Code</ion-label>
            <ion-icon
              class="checo"
              name="checkmark-circle"
              slot="end"
            ></ion-icon>
          </ion-item>
          <ion-item>
            <ion-icon name="play-outline" slot="start"></ion-icon>
            <ion-label>Python untuk pemula</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="help-circle-outline" slot="start"></ion-icon>
            <ion-label>Quiz</ion-label>
          </ion-item>
        </ion-list>
      </div>
    </ion-accordion>

    <ion-accordion value="carakerja">
      <ion-item slot="header">
        <ion-label>Cara Kerja Program dan Bytecode</ion-label>
        <p slot="end">2 pelajaran</p>
      </ion-item>
      <div slot="content">
        <ion-list>
          <ion-item>
            <ion-icon name="play-outline" slot="start"></ion-icon>
            <ion-label>Cara Kerja Program dan Bytecode</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="play-outline" slot="start"></ion-icon>
            <ion-label>Python untuk pemula</ion-label>
          </ion-item>
        </ion-list>
      </div>
    </ion-accordion>
  </ion-accordion-group>

  <ion-grid>
    <div class="ratingdanulasan">
      <div class="ringkasanrating">
        <h3>Rating dan Ulasan</h3>
        <div class="keseluruhanrating">
          <span class="rating-score">4,8</span>
          <div class="stars">
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star-half"></ion-icon>
          </div>
          <span class="totalrating">825</span>
          <div slot="end">
            <a slot="end" href="#" class="see-all">See all</a>
          </div>
        </div>
      </div>
      <div class="rating-distribution">
        <div *ngFor="let rating of ratingDistribution" class="rating-bar">
          <span>{{ rating.percentage }}%</span>
          <ion-progress-bar [value]="rating.value"></ion-progress-bar>
          <div class="stars">
            <ion-icon
              *ngFor="let star of [].constructor(rating.stars)"
              name="star"
            ></ion-icon>
            <ion-icon
              *ngFor="let star of [].constructor(5 - rating.stars)"
              name="star-outline"
            ></ion-icon>
          </div>
        </div>
      </div>
    </div>
  </ion-grid>

  <ion-list>
    <ion-item *ngFor="let review of reviews">
      <ion-avatar slot="start">
        <img src="../../../assets/img/voucher.png" />
      </ion-avatar>
      <ion-label>
        <h2>{{ review.student_name }}</h2>
        <p>{{ review.date }}</p>
        <div class="stars">
          <ion-icon
            *ngFor="let star of [].constructor(review.rating)"
            name="star"
          ></ion-icon>
          <ion-icon
            *ngFor="let star of [].constructor(5 - review.rating)"
            name="star-outline"
          ></ion-icon>
        </div>
        <p>{{ review.comment }}</p>
        <ion-note *ngIf="review.teacher_response"
          >{{ review.teacher_response }}</ion-note
        >
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
      <ion-button slot="end" class="chat" fill="outline"><ion-icon name="chatbubble-outline"></ion-icon></ion-button>
      <ion-button slot="end" class="Keranjang"  fill="outline"> <ion-icon class="basket" name="basket-outline"></ion-icon>   Keranjang</ion-button>
      <ion-button slot="end" class="BELI">BELI SEKARANG</ion-button>
  </ion-toolbar>
</ion-footer>