<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>Judul Kursus</ion-title>
    <ion-buttons slot="end">
      <ion-icon class="hati" name="heart-outline"></ion-icon>
      <ion-icon class="share" name="share-social-outline"></ion-icon>
      <ion-icon class="basket" name="basket-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="bannner">
    <img src="../../../assets/img/pp.png" alt="Banner Image">
  </div>
  <div class="detailkursus">
    <h2>Judul Kursus Judul Kursus Judul Kursus</h2>
    <div class="rating">
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star-half"></ion-icon>
      <span>4.8</span>
      <span>• 1000 peserta</span>
      <span>• 10 peringkat</span>
    </div>
    <div class="harga">
      <p>Rp23.900</p>
      <p class="namapengajar">nama pengajar: <a href="#">nama pengajar</a></p>
    </div>
    <div class="kontenkursus">
      <h3>kursus ini mencakup:</h3>
      <ul>
        <li>3 bab pembelajaran</li>
        <li>4 video pembelajaran</li>
        <li>1 quiz</li>
        <li>sertifikat penyelesaian</li>
        <li>berlaku selamanya</li>
      </ul>
    </div>
    <div class="materikursus">
      <h3>yang akan dipelajari kursus ini</h3>
      <ul>
        <li>mempelajari tentang python dasar</li>
      </ul>
    </div>
  </div>
  

  <div class="syaratkursus">
    <h3>Persyaratan</h3>
    <ul>
      <li>sudah menonton minimal season 1 kimetsu no yaiba</li>
    </ul>
  </div>
  
  <div class="targetkursus">
    <h3>kursus ini untuk:</h3>
    <ul>
      <li>programmer pemula</li>
      <li>mahasiswa</li>
    </ul>
  </div>
  
  <div class="deskripsikursus">
    <h3>Deskripsi</h3>
    <p>Python adalah bahasa pemrograman tingkat tinggi yang serbaguna, mudah dipelajari, dan populer. Beberapa fungsi utama Python adalah untuk pengembangan web, analisis data, kecerdasan buatan, pengembangan permainan, pengembangan aplikasi desktop, pemrograman jaringan, pengolahan citra, dan pemodelan matematika.</p>
  </div>

  <ion-accordion-group [multiple]="true">
    <ion-accordion value="pendahuluan">
      <ion-item slot="header">
        <ion-label>Pendahuluan</ion-label>
        <p slot="end">1 pelajaran</p>
      </ion-item>
      <div slot="content">
        <ion-list>
          <ion-item>
            <ion-icon name="play-outline" slot="start"></ion-icon>
            <ion-label>Pendahuluan</ion-label>
            <ion-icon class="checo" name="checkmark-circle" slot="end"></ion-icon>
          </ion-item>
        </ion-list>
      </div>
    </ion-accordion>

    <ion-accordion value="instalasi">
      <ion-item slot="header">
        <ion-label>Instalasi Python dan VS Code</ion-label>
        <p slot="end">2 pelajaran</p>
      </ion-item>
      <div slot="content">
        <ion-list>
          <ion-item>
            <ion-icon name="play-outline" slot="start"></ion-icon>
            <ion-label>Instalasi Python dan VS Code</ion-label>
            <ion-icon class="checo" name="checkmark-circle" slot="end"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-icon name="play-outline" slot="start"></ion-icon>
            <ion-label>Python untuk pemula</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="help-circle-outline" slot="start"></ion-icon>
            <ion-label>Quiz</ion-label>
          </ion-item>
        </ion-list>
      </div>
    </ion-accordion>

    <ion-accordion value="carakerja">
      <ion-item slot="header">
        <ion-label>Cara Kerja Program dan Bytecode</ion-label>
        <p slot="end">2 pelajaran</p>
      </ion-item>
      <div slot="content">
        <ion-list>
          <ion-item>
            <ion-icon name="play-outline" slot="start"></ion-icon>
            <ion-label>Cara Kerja Program dan Bytecode</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="play-outline" slot="start"></ion-icon>
            <ion-label>Python untuk pemula</ion-label>
          </ion-item>
        </ion-list>
      </div>
    </ion-accordion>
  </ion-accordion-group>
  


<ion-grid>
  <div class="ratingdanulasan">
    <div class="ringkasanrating">
      <h3>Rating dan Ulasan</h3>
      <div class="keseluruhanrating">
        <span class="rating-score">4,8</span>
        <div class="stars">
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star-half"></ion-icon>
        </div>
        <span class="totalrating">825</span>
        <div slot="end">
          <a slot="end" href="#" class="see-all">See all</a>
        </div>
      </div>
    </div>
    <div class="rating-distribution">
      <div class="rating-bar">
        <span>98%</span>
        <ion-progress-bar value="0.98"></ion-progress-bar>
        <div class="stars">
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
        </div>
      </div>
      <div class="rating-bar">
        <span>70%</span>
        <ion-progress-bar value="0.70"></ion-progress-bar>
        <div class="stars">
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
        </div>
      </div>
      <div class="rating-bar">
        <span>45%</span>
        <ion-progress-bar value="0.45" ></ion-progress-bar>
        <div class="stars">
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
        </div>
      </div>
      <div class="rating-bar">
        <span>10%</span>
        <ion-progress-bar value="0.10" ></ion-progress-bar>
        <div class="stars">
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
        </div>
      </div>
      <div class="rating-bar">
        <span>5%</span>
        <ion-progress-bar value="0.05" ></ion-progress-bar>
        <div class="stars">
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
        </div>
      </div>
    </div>
  </div>
</ion-grid>

<ion-list>
  <ion-item>
    <ion-avatar slot="start">
      <img src="../../../assets/img/voucher.png">
    </ion-avatar>
    <ion-label>
      <h2>Nama Pelajar</h2>
      <p>4/7/2024</p>
      <div class="stars">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
      </div>
    </ion-label>
  </ion-item>

  <ion-item>
    <P>Kursus online Python ini sangat direkomendasikan bagi siapa saja yang ingin mempelajari bahasa pemrograman Python. Materi yang diajarkan sangat lengkap, mulai </P>
  </ion-item>

  <ion-item lines="none">
    <ion-label>Apakah ulasan ini berguna?</ion-label>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="thumbs-up-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="thumbs-down-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>

  <div class="card">
    <span style="display: block;">pengajar</span>
    <span style="display: block;">Terima kasih banyak atas ulasan Anda yang sangat positif! Kami senang mendengar bahwa Anda puas dengan kursus Python kami. Kami berusaha keras untuk menyediakan materi yang lengkap dan terstruktur den...</span>
  </div>
</ion-list>


  
</ion-content>

<ion-footer>
  <ion-toolbar>
      <ion-button slot="end" class="chat" fill="outline"><ion-icon name="chatbubble-outline"></ion-icon></ion-button>
      <ion-button slot="end" class="Keranjang"  fill="outline"> <ion-icon class="basket" name="basket-outline"></ion-icon>   Keranjang</ion-button>
      <ion-button slot="end" class="BELI">BELI SEKARANG</ion-button>
  </ion-toolbar>
</ion-footer>

