<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tab/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title
      >{{ course_details?.course.course_title || 'Judul Kursus' }}</ion-title
    >
    <ion-buttons slot="end">
      <ion-icon
        class="hati"
        [name]="isWishlisted ? 'heart' : 'heart-outline'"
        [color]="isWishlisted ? 'danger' : undefined"
        (click)="toggleWishlist(course_details.course.course_id)"
      ></ion-icon>

      <!-- <ion-icon class="share" name="share-social-outline"></ion-icon>
      <ion-icon class="basket" name="basket-outline"></ion-icon> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="course_details">
  <div class="banner">
    <img [src]="course_details.course.course_image" alt="Banner Image" />
  </div>
  <div class="detailkursus">
    <h2>{{ course_details.course.course_title }}</h2>
    <div class="rating">
      <div *ngIf="courseDetails.course.course_rating" class="stars">
        <ion-icon
          *ngFor="let icon of getStarIcons(courseDetails.course.course_rating)"
          [name]="icon"
        ></ion-icon>
      </div>
      <span class="rating-score"
        >{{ courseDetails.course.course_rating ?
        courseDetails.course.course_rating.toFixed(1) : 'Belum diulas' }}</span
      >
      <span
        >• &nbsp;{{course_details.count_student < 1 ? 'Belum ada pelajar' :
        course_details.count_student + ' pelajar'}}</span
      >
      <!-- <span>• 10 peringkat</span> -->
    </div>
    <div class="harga">
      <div style="display: flex; align-items: baseline">
        <p style="color: blueviolet; font-size: 25px">
          {{ course_details.course.course_price | currencyFormat }}&nbsp;
        </p>
        <del style="color: red"
          >{{ course_details.course.course_price_discount | currencyFormat
          }}</del
        >
      </div>
      <p class="namapengajar">
        Pengajar:
        <a (click)="teacherProfile()">{{ course_details.course.teacher?.user_name }}</a>
      </p>
    </div>
    <div class="kontenkursus">
      <h3>kursus ini mencakup:</h3>
      <ul>
        <li>{{ course_details.count_bab }} bab pembelajaran</li>
        <li>{{ course_details.count_video_material }} video pembelajaran</li>
        <!-- <li>{{ course_details.count_quiz }} quiz</li> -->
        <li>sertifikat penyelesaian</li>
        <li>
          {{ course_details.course.course_duration ? 'aktif selama ' +
          course_details.course.course_duration + ' Bulan' : 'aktif selamanya'
          }}
        </li>
      </ul>
    </div>
  </div>

  <div class="deskripsikursus">
    <h3>Deskripsi</h3>
    <p>{{ course_details.course.course_description }}</p>
  </div>

  <ion-accordion-group [multiple]="true">
    <ion-accordion
      *ngFor="let bab of courseDetails.materialBabs"
      [value]="bab.id"
    >
      <ion-item slot="header">
        <ion-label>{{ bab.title }}</ion-label>
        <p slot="end">{{ bab.materials.length }} pelajaran</p>
      </ion-item>
      <div slot="content">
        <ion-list>
          <ion-item *ngFor="let material of bab.materials">
            <ion-icon name="play-outline" slot="start"></ion-icon>
            <ion-label>{{ material.material_sub_title }}</ion-label>
            <ion-icon
              *ngIf="material.completed"
              class="checo"
              name="checkmark-circle"
              slot="end"
            ></ion-icon>
          </ion-item>
        </ion-list>
      </div>
    </ion-accordion>
  </ion-accordion-group>

  <ion-grid>
    <div class="ratingdanulasan">
      <div class="ringkasanrating">
        <h3>Rating dan Ulasan</h3>
        <div class="keseluruhanrating">
          <span class="rating-score"
            >{{ courseDetails.course.course_rating ?
            courseDetails.course.course_rating.toFixed(1) : 'belum diulas'
            }}</span
          >
          <div *ngIf="courseDetails.course.course_rating" class="stars">
            <ion-icon
              *ngFor="let icon of getStarIcons(courseDetails.course.course_rating)"
              [name]="icon"
            ></ion-icon>
          </div>
          <span class="totalrating"
            >{{ course_details.count_user_rating }} ulasan</span
          >
        </div>
      </div>
      <div class="rating-distribution">
        <div *ngFor="let rating of ratingDistribution" class="rating-bar">
          <span>{{ rating.count.toFixed(0) }} 👤</span>
          <ion-progress-bar [value]="rating.value"></ion-progress-bar>
          <div class="stars">
            <ion-icon
              *ngFor="let star of [].constructor(rating.stars)"
              name="star"
            ></ion-icon>
            <ion-icon
              *ngFor="let star of [].constructor(5 - rating.stars)"
              name="star-outline"
            ></ion-icon>
          </div>
        </div>
      </div>
    </div>
  </ion-grid>
  <ion-list *ngIf="firstThreeReviews.length > 0">
    <h6 *ngIf="remainingReviews.length > 3" class="float-end" (click)="setOpen(true)">Lihat semua ulasan</h6>
    <ion-item *ngFor="let review of firstThreeReviews" >
      <ion-avatar slot="start">
        <img [src]="review.profile_picture ? review.profile_picture : 'assets/img/bsa2.png'" alt="" class="image"/>
      </ion-avatar>
      <ion-label>
        <h2>{{ review.student_name }}</h2>
        <p>{{ review.date }}</p>
        <div class="stars">
          <ion-icon
            *ngFor="let star of [].constructor(review.rating)"
            name="star"
            style="color: gold"
          ></ion-icon>
          <ion-icon
            *ngFor="let star of [].constructor(5 - review.rating)"
            name="star-outline"
            style="color: gold"
          ></ion-icon>
        </div>
        <p>{{ review.comment }}</p>
        <ion-note *ngIf="review.teacher_response">
          {{ review.teacher_response }}
        </ion-note>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Semua Ulasan</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)">Tutup</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-list>
          <ion-item *ngFor="let review of remainingReviews">
            <ion-avatar slot="start">
              <img [src]="review.profile_picture ? review.profile_picture : 'assets/img/bsa2.png'" />
            </ion-avatar>
            <ion-label>
              <h2>{{ review.student_name }}</h2>
              <p>{{ review.date }}</p>
              <div class="stars">
                <ion-icon
                  *ngFor="let star of [].constructor(review.rating)"
                  name="star"
                  style="color: gold"
                ></ion-icon>
                <ion-icon
                  *ngFor="let star of [].constructor(5 - review.rating)"
                  name="star-outline"
                  style="color: gold"
                ></ion-icon>
              </div>
              <p>{{ review.comment }}</p>
              <ion-note *ngIf="review.teacher_response">
                {{ review.teacher_response }}
              </ion-note>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <!-- <ion-button slot="end" class="chat" fill="outline"
      ><ion-icon name="chatbubble-outline"></ion-icon
    ></ion-button> -->
    <!-- <ion-button slot="start" class="Keranjang ms-4" fill="outline">
      <ion-icon class="basket" name="basket-outline"></ion-icon>
      &nbsp;Keranjang</ion-button
    > -->
    <span style="font-size: 14px" class="ms-2">Harga</span>
<h4 class="ms-4" style="color: blueviolet">
  {{ course_details?.course?.course_price | currencyFormat }}
</h4>
<ion-button *ngIf="course_details?.course?.course_price !== 0"
  slot="end"
  (click)="navigateToDetail(course_details.course.course_id)"
  class="BELI me-3 mt-1">BELI SEKARANG</ion-button>
<ion-button *ngIf="course_details?.course?.course_price === 0"
  slot="end"
  (click)="transaction(course_details.course.course_id)"
  class="BELI me-3 mt-1"
>Dapatkan Sekarang</ion-button>
  </ion-toolbar>
</ion-footer>
