<ion-header>
  <ion-toolbar class="header-toolbar"> 
    <ion-buttons slot="start"> 
      <ion-back-button defaultHref="login"></ion-back-button> 
    </ion-buttons>
    <ion-title>Verifikasi Nomor Whatsapp</ion-title> 
  </ion-toolbar>
</ion-header>
<ion-content fullscreen> 
  <img class="center" style="margin-top: -70px; width: 200px;" src="../../../assets/img/BSA.png" alt="alternative text">
  <form>
    <div id="container">
      <ion-input type="tel" id="number" class="input-sign" label="Nomor Whatsapp" label-placement="floating" placeholder="Nomor Whatsapp" name="number" [(ngModel)]="formData.number" (ngModelChange)="validateNumber()" required>
        <ion-icon class="ic-sign" name="mail-outline"></ion-icon>
      </ion-input>
      <div *ngIf="!isPhoneValid && formData.number" class="warning-text">
        Nomor Whatsapp tidak valid
      </div>
      <div class="warning-text" *ngIf="showPhoneError">
        Maaf, nomor anda tidak terdaftar. <a style="color: #a343fc;" [routerLink]="['/sign-up']">Daftar sekarang</a>
      </div>
      <br>
      <div class="row">
        <div class="col-10">
          <ion-input type="number" id="otp" class="input-sign" label="Kode OTP" label-placement="floating"  placeholder="Kode OTP" [(ngModel)]="formData.otp" name="otp" required>
            <ion-icon class="ic-sign" name="mail-outline"></ion-icon>
            <button>Kirim</button>
          </ion-input>
          <div class="warning-text" *ngIf="showOtpError">
            Kode OTP tidak valid atau sudah kadaluarsa
          </div>
        </div>
        <div class="col-2">
          <ion-button 
          class="btn-purple" 
          style="background-color: #a343fc; padding: 8px; margin-top: 1px;" 
          (click)="sendOtp()" 
          [disabled]="isLoading || countdown > 0 || !isPhoneValided()">
          <ng-container *ngIf="countdown === 0">
            Kirim OTP
          </ng-container>
          <ng-container *ngIf="countdown > 0">
            {{ countdown }}
          </ng-container>
        </ion-button>
        </div>
      </div>
    </div>
    <br>
    <ion-button 
  class="btn-purple w-100 p-1" 
  style="background-color: #a343fc; margin-right: 0 !important;" 
  (click)="validateOtp()" 
  [disabled]="isLoading || !isFormValid()">
  <ng-container *ngIf="!isLoading; else loadingTemplate">Kirim</ng-container>
</ion-button>

<ng-template #loadingTemplate>
  <ion-spinner name="crescent"></ion-spinner>
</ng-template>

  </form>
</ion-content>

