<ion-header color="primary">
  <ion-toolbar>
    <ion-buttons slot="start" style="color: white;">
      <ion-back-button defaultHref="tab"></ion-back-button>
    </ion-buttons>
    <ion-title style="color: white;">
      FAQ
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-accordion-group [multiple]="true">
      <ion-accordion value="one">
        <ion-item slot="header">
          <ion-label>Apa Itu BSA?</ion-label>
        </ion-item>
        <div slot="content">
          <ion-list>
            <ion-item>
              <ion-label style="font-size: 15px; text-align: justify;">Brilliant Skill Academy adalah sebuah kursus
                online yang fokus pada
                pengembangan keterampilan
                dan pengetahuan. Akademi ini menawarkan berbagai kursus yang dirancang untuk membantu orang meningkatkan
                keterampilan mereka di berbagai bidang, seperti teknologi, bisnis, seni, dan sebagainya. Konsepnya
                melibatkan pembelajaran mandiri yang fleksibel, akses ke instruktur atau mentor, serta sertifikat untuk
                menunjukkan pencapaian dalam kursus-kursus tersebut.</ion-label>
            </ion-item>
          </ion-list>
        </div>
      </ion-accordion>

      <ion-accordion value="two">
        <ion-item slot="header">
          <ion-label>Bagaimana cara mengakses kursus yang
            saya ikuti?</ion-label>
        </ion-item>
        <div slot="content">
          <ion-list>
            <ion-item>
              <ion-label>
                <ol style=" text-align: justify;">
                  <li>Buka Menu 'kursus saya' pada halaman Home.</li>
                  <li>Pilih kursus yang ingin Anda akses.</li>
                  <li>Buka accordion Bab.</li>
                  <li>Pilih sub Bab materi yang ingin Anda akses.</li>
                  <li>Lalu akan muncul halaman detail materi.</li>
                </ol>
              </ion-label>
            </ion-item>
          </ion-list>
        </div>
      </ion-accordion>

      <ion-accordion value="three">
        <ion-item slot="header">
          <ion-label>Apakah ada batasan waktu untuk
            menyelesaikan kursus?</ion-label>
        </ion-item>
        <div slot="content">
          <ion-list>
            <ion-item>
              <ion-label>Tidak ada batasan waktu untuk menyelesaikan kursus. Akses materi akan tetap tersedia selama
                Anda membayar sesuai ketentuan pemateri. Ini memberi Anda fleksibilitas untuk belajar sesuai kecepatan
                Anda sendiri.</ion-label>
            </ion-item>
          </ion-list>
        </div>
      </ion-accordion>

      <ion-accordion value="four">
        <ion-item slot="header">
          <ion-label>Bagaimana cara memperbarui informasi 
            profil saya?</ion-label>
        </ion-item>
        <div slot="content">
          <ion-list>
            <ion-item>
              <ion-label>
                <ol>
                  <li></li>
                  <li></li>
                </ol>
              </ion-label>
            </ion-item>
          </ion-list>
        </div>
      </ion-accordion>

      <ion-accordion value="five">
        <ion-item slot="header">
          <ion-label>Apakah BSA gratis?</ion-label>
        </ion-item>
        <div slot="content">
          <ion-list>
            <ion-item>
              <ion-label>Aplikasi BSA gratis untuk diunduh dan digunakan. Namun, beberapa materi pelajaran memerlukan
                pembayaran untuk diakses. Ini memungkinkan Anda mencoba aplikasi secara gratis dan memutuskan apakah
                ingin membeli konten tambahan.</ion-label>
            </ion-item>
          </ion-list>
        </div>
      </ion-accordion>

      <ion-accordion value="six">
        <ion-item slot="header">
          <ion-label>Bagaimana cara menggunakan BSA?</ion-label>
        </ion-item>
        <div slot="content">
          <ion-list>
            <ion-item>
              <ion-label></ion-label>
            </ion-item>
          </ion-list>
        </div>
      </ion-accordion>

    </ion-accordion-group>

  </ion-card>
</ion-content>